
body {
    font-family: Arial, sans-serif;
}
.primeira_section {
    background-color: rgb(1, 1, 1);
    border-radius: 15px;
    padding: 8px;
    color: #fff;
}

.ultima_section {
    background-color: #047e04;
    border-radius: 15px;
    padding: 8px;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

h2, p {
    text-align: center;
}

.section h3 {
    text-align: center;
}

.section {
    margin-bottom: 15px;
}

.section label {
    display: block;
}

.itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.item {
    padding: 8px;
    flex-direction: column;
}

.item_acompanhamento {
    display: flex;
    flex-wrap: wrap;
}

#sendBtn {
    background-color: #f10404;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #fffdfd;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}